@page "/Empty"
<div class="content">
    <div class="w3-panel">
        <button id="returnMain" class="w3-button w3-blue w3-round w3-margin-left"
                @onclick='()=>NavigationManager.NavigateTo(StateContainer.PopPage())'>
            @IL["Return"]
        </button>
    </div>
</div>
