html{
    height: 100%;
}

body {
    height: 90%;
}

#app {
    height: 100%;
}

ul {
    list-style-type: none;
}
.header{
    display:flex;
    align-items:flex-start;
}
table{
    margin:2em;
}

input, button, textarea {
    margin: 1px;
    margin-left: 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    height: 2em;
}
button {
    margin: 2px;
    width: 10em;
    height: 2em;
    background-color: #4287f5;
    color: white;
}
.rbLine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
textarea {
    height: 3em;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.uppercase {
    text-transform: uppercase;
}
.cutOverflow {
    overflow: hidden;
}
.ml1{
    margin-left:1em;
}
.mr1{
    margin-right:1em;
}

.w2 {
    width: 2em;
}

.w3 {
    width: 3em;
}

.w4 {
    width: 4em;
}

.w5 {
    width: 5em;
}

.w6 {
    width: 6em;
}

.w7 {
    width: 7em;
}

.w8 {
    width: 8em;
}

.w9 {
    width: 9em;
}

.w10 {
    width: 10em;

}

.w15 {
    width: 15em;
}

.w20 {
    width: 20em;
}
